* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./img/Area-51-picture.jpeg);
}

@font-face {
  font-family: aAkhirTahun;
  src: url(/Fonts/aAkhirTahun.ttf) format("opentype");
}

@keyframes header {
  from {
    background-color: #eae1c0;
  }
  to {
    background-color: transparent;
  }
}
header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  background-color: transparent;
  position: relative;
  z-index: 2;
  transition: 0.5s;
}

header:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: aliceblue;
  transition: 0.5s;
}

li,
a,
button {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 19px;
  color: #c64b43;
  text-decoration: none;
}

a {
  text-decoration: none !important;
  color: #c64b43 !important;
}

.logo {
  cursor: pointer;
  border-radius: 360%;
  padding-top: 0vh;
  padding-bottom: 0vh;
  width: 11vh;
  transition: 0.7s ease-out;
  background-color: aliceblue;
}

.logo:hover {
  font-size: 5em;
  float: left;
  margin: 0px 0px;
  transform: rotateZ(360deg);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #eae1c0;
}

.nav__links {
  list-style: none;
  margin-top: 3%;
  margin-bottom: 0.5%;
}

.nav__links li {
  display: inline;
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 3vh;
  padding-bottom: 1vh;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  border: none !important;
  color: #413e33 !important;
  transition: all 0.3s ease 0s !important;
  border-radius: 360px !important;
  padding-top: 0.7vh;
  padding-bottom: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  background-color: #eae1c0;
  box-shadow: rgba(15, 15, 29, 0.674) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.795) 0px 3px 7px -3px;
}

button {
  padding-top: 0.7vh;
  padding-bottom: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  border: none;
  border-radius: 360px !important;
  background-color: aliceblue;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: #413e33;
  background-color: #eae1c0;
  box-shadow: rgba(15, 15, 29, 0.674) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.795) 0px 3px 7px -3px;
}

.mainscreen {
  display: flex;
  background-color: #eae1c0;
  width: 100%;
  padding-top: 0vh;
}

.gif {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0px;
  top: 0px;
  opacity: 0.91;
}

.titel {
  margin-top: 15vh;
  padding-top: 2vh;
  max-width: 50%;
  z-index: 2;
}

@keyframes lettersh1 {
  from {
    letter-spacing: 0px;
  }
  to {
    letter-spacing: 10px;
  }
}

@keyframes slogan {
  from {
    letter-spacing: 0px;
  }
  to {
    letter-spacing: 1px;
  }
}

h1 {
  z-index: 2;
  text-align: center;
  padding-top: 1vh;
  font-family: aAkhirTahun;
  letter-spacing: 5px;
  font-size: 300%;
  color: #eae1c0;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 2px 2px #000000;
}

.slogan {
  z-index: 3;
  font-family: aAkhirTahun;
  letter-spacing: 1px;
  font-size: 90%;
  color: #eae1c0;
  -webkit-text-stroke: 0.7px black;
  text-decoration: line-through;
}

/*  _______________________________________________________________________________*/

.footer {
  background-color: #343434;
  z-index: 4;
  margin-top: 30rem;
  margin-bottom: 0rem;
  position: absolute;
}

.col {
  color: white;
}
