*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 0;
}

@font-face {
    font-family: aAkhirTahun;
    src: url(/Fonts/aAkhirTahun.ttf) format("opentype");
}

header {
    position: sticky;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color:#eae1c0 transparent;
    position: relative;
    z-index: 2;
    transition: 0.5s;
}

header:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: aliceblue; 
}

li, a, button {
    font-family:'Space Grotesk', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 19px;
    color: #c64b43;
    text-decoration: none;
}

a { 
    text-decoration: none !important;
    color: #c64b43 !important;
}


.logo {
    cursor: pointer;
    border-radius: 360%;
    padding-top: 0vh;
    padding-bottom: 0vh;
    width: 11vh;
    transition:  0.7s ease-out;
    background-color: aliceblue;
}

.logo:hover { 
  font-size: 5em; 
  float: left; 
  margin: 0px 0px; 
  transform: rotateZ(360deg);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #eae1c0;
}

.nav__links {
    list-style: none;
    margin-top: 3%;
    margin-bottom: 0.5%;
}

.nav__links li {
    display: inline;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 3vh;
    padding-bottom: 1vh;    
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{  
    border:none !important;
    color: #413e33 !important;
    transition: all 0.3s ease 0s !important;
    border-radius: 360px !important;  
    padding-top: 0.7vh;
    padding-bottom: 0.5vh;
    padding-left: 1vh;
    padding-right: 1vh;  
    background-color:#eae1c0;
    box-shadow: rgba(15, 15, 29, 0.674) 0px 6px 12px -2px, rgba(0, 0, 0, 0.795) 0px 3px 7px -3px; 
}


button {
    padding-top: 0.7vh;
    padding-bottom: 0.5vh;
    padding-left: 1vh;
    padding-right: 1vh;     
    border: none;
    border-radius: 360px !important;
    background-color:aliceblue;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    color: #413e33;
    background-color:#eae1c0;
    box-shadow: rgba(15, 15, 29, 0.674) 0px 6px 12px -2px, rgba(0, 0, 0, 0.795) 0px 3px 7px -3px;
}

.mainscreen {
    display: flex;
    background-color: #eae1c0;
    width: 100%;
    padding-top: 0vh;
}

.gif{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0px;
    top: 0px;
    opacity: 0.91;
}

 /*------------------------------------------------------
  */

  form
  input(type="checkbox" id="toggleGame" class="logic-checkbox")
  input(type="checkbox" id="HowToPlayPopup" class="logic-checkbox")
  input(type="checkbox" id="whoAmIPopup" class="logic-checkbox")
  input(type="checkbox" id="GraphicsLevel" class="logic-checkbox")
  section(class="game-menu-frame")
   header(class="game-header")
     h1(class="game-title") 
       div(class="line-1") CoronaVirus
       div(class="line-2") Invaders
       div(class="line-3") Let's save the world together!
   nav(class="game-nav")
     h2(class="game-nav-title") Main Menu
     ul(class="game-nav-list")
       li(class="game-nav-item") 
         label(class="game-nav-button" for="toggleGame" tabindex="0") Save the World
       li(class="game-nav-item") 
         label(class="game-nav-button" for="HowToPlayPopup" tabindex="0") How to Play
       li(class="game-nav-item") 
         label(class="game-nav-button" for="GraphicsLevel" tabindex="0" id="GraphicsLevelButton") Performance
       li(class="game-nav-item") 
         label(class="game-nav-button" for="whoAmIPopup" tabindex="0") Who Am I
       li(class="game-nav-item") 
         a(class="game-nav-button" href="https://eladsc.com/") Quit
     p(class="note") Let's beat this on together and on the way spend time doing good.

   - var numbersOfVirus = 1;
   while numbersOfVirus <= 2   
        div(class="corona-promo-virus-" + numbersOfVirus++)
          label(class="corona-virus")
            div(class="body")
              div(class="scalp")
                - var n = 1;
                while n <= 12
                    span(class="hair" + n++)
              div(class="eye1")
              div(class="eye2")


  section(class="game-frame")
    - var numbersOfVirus = 1;
    ul(class="corona-world")
      while numbersOfVirus <= 100   
        li(class="corona-location corona-virus-" + numbersOfVirus++ + "-location")
          label(class="corona-virus")
            input(type="radio")
            div(class="body")
              div(class="scalp")
                - var n = 1;
                while n <= 12
                    span(class="hair" + n++)
              div(class="eye1")
              div(class="eye2")
    div(class="sum") 
      span(class="text") Score:
    div(class="count-down")
      span(class="icon") ⏲️
      span(class="count")
    div(class="timer")
    section(class="game-over")
      h2(class="game-title") Game Over
      nav(class="game-nav")
       ul(class="game-nav-list")
         //li(class="game-nav-item") 
           button(class="game-nav-button" onclick="history.go(0)") Back to Main Menu
         li(class="game-nav-item") 
           label(class="game-nav-button" for="whoAmIPopup" tabindex="0") Who Am I
         li(class="game-nav-item") 
           input(type="reset" class="game-nav-button" value="Back to Main Menu")
         //li(class="game-nav-item") 
           a(class="game-nav-button" href="https://eladsc.com/") Quit

  section(id="whoAmI" class="popup common-content")
    label(class="close-button" for="whoAmIPopup" tabindex="0") x
    h3(class="common-title") Who Am I ?
    p II’m Elad Shechter, a Web Developer specializing in CSS & HTML design and architecture.

    p You can see more of my stuff on my website 
      a(href="https://www.eladsc.dev/" target="_blank") eladsc.dev
      |  and follow me on 
      a(href="https://www.twitter.com/eladsc" target="_blank") twitter.com/eladsc
      | .
    img(src="https://assets.codepen.io/65740/internal/avatars/users/default.png?fit=crop&format=auto&height=200&version=1636190215&width=200" alt="Elad Shechter")  
    label(class="game-nav-button" for="whoAmIPopup" tabindex="0") Close

  section(id="HowToPlay" class="popup common-content")
    label(class="close-button" for="HowToPlayPopup" tabindex="0") x
    h3(class="common-title") How to Play ?
    p Use the cursor ("🧼" = soap icon) to kill the Corona Virus. 
    br
    p The Coronavirus is a tough one! And sometimes you will need to press on the Coronavirus symbol several times in order to get rid of it.
    label(class="game-nav-button" for="HowToPlayPopup" tabindex="0") Close