*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 0;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

@font-face {
    font-family: aAkhirTahun;
    src: url(/Fonts/aAkhirTahun.ttf) format("opentype");
}

header {
    position: sticky;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color:#eae1c0 transparent;   
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

header:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: aliceblue;
}

li, a, button {
    font-family:'Space Grotesk', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 19px;
    color: #c64b43;
    text-decoration: none;
}

a { 
    text-decoration: none !important;
    color: #c64b43 !important;
}


.logo {
    cursor: pointer;
    border-radius: 360%;
    padding-top: 0vh;
    padding-bottom: 0vh;
    width: 11vh;
    transition:  0.7s ease-out;
    background-color: aliceblue;
}

.logo:hover { 
  font-size: 5em; 
  float: left; 
  margin: 0px 0px; 
  transform: rotateZ(360deg);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #eae1c0;
}

.nav__links {
    list-style: none;
    margin-top: 3%;
    margin-bottom: 0.5%;
}

.nav__links li {
    display: inline;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 3vh;
    padding-bottom: 1vh;    
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{  
    border:none !important;
    color: #413e33 !important;
    transition: all 0.3s ease 0s !important;
    border-radius: 360px !important;
    padding-top: 0.7vh;
    padding-bottom: 0.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    background-color:#eae1c0;
    box-shadow: rgba(15, 15, 29, 0.674) 0px 6px 12px -2px, rgba(0, 0, 0, 0.795) 0px 3px 7px -3px;
}


button {
    padding-top: 0.7vh;
    padding-bottom: 0.5vh;
    padding-left: 1vh;
    padding-right: 1vh;     
    border: none;
    border-radius: 360px !important;
    background-color:aliceblue;
    cursor: pointer;
    transition: 0.8s;
}

button:hover {
    color: #413e33;
    background-color:#eae1c0;
    box-shadow: rgba(15, 15, 29, 0.674) 0px 6px 12px -2px, rgba(0, 0, 0, 0.795) 0px 3px 7px -3px;
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0px;
    top: 0px;
}
h1 {
    z-index: 2;
    text-align: center;
    padding-top: 15vh;
    font-family: aAkhirTahun;
    letter-spacing: 5px;
    font-size: 300%;
    color: #eae1c0;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 2px 2px #000000;
}
.slogan {
    z-index: 3;
    font-family: aAkhirTahun;
    letter-spacing: 1px;
    font-size: 90%;
    color: #eae1c0;
    -webkit-text-stroke: 0.7px black;
}
body {
    margin: 0;
}
.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);


}
.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.image-grid-col-2 {
    grid-column: span 2;

}
.image-grid-row-2 {
    grid-row: span 2;
    
}
@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}
.googlemaps {
    padding-bottom: 16px;
    padding-left: 16px;
    
}
